[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "doxygen-awesome-css-for-qp"]
	path = doxygen-awesome-css-for-qp
	url = https://github.com/erayzesen/doxygen-awesome-css-for-qp.git
